<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{coche.modelo}}</title>
</head>
<body>
    <table>
        <th>Modelo</th>
        <th>Foto</th>
        <th>Precio</th>
        <tr>
            <td>{{coche.modelo}}</td>
            <td><img src="/static/images/{{coche.image}}"/></td>
            <td>Precio al contado: {{coche.precioc}}
            <br>
            Precio financiado: {{coche.preciof}}</td>
        <tr>
    </table>
<br>
<img src="/static/images/{{coche.image2}}"/>
<br>
<br>
<a href="/coches">VOLVER</a>
</body>
</html>